<div class="clients-container">
  <h2>Liste des Clients</h2>

  <div class="clients-list-wrapper">
    <div class="clients-list">
      <div class="client-card" *ngFor="let client of filteredClients">
        <p><strong>Nom :</strong> {{ client.lastName }}</p>
        <p><strong>Prénom :</strong> {{ client.firstName }}</p>
        <p><strong>Numéro de Téléphone :</strong> {{ client.phoneNumber }}</p>
        <p><strong>Date d'Inscription :</strong> {{ client.registrationDate | date }}</p>
        <p><strong>Abonnement :</strong> {{ getSubscriptionDetails(client) }}</p>
        <div class="client-actions">
          <button (click)="editClient(client)">
            <i class="fas fa-edit"></i>
          </button>
          <button (click)="deleteClient(client.id!)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

