<div class="packs-container">
  <h2>Gestion des Offres</h2>
  <div class="actions-bar">
    <button (click)="openModal()">
      <i class="fas fa-plus"></i> Ajouter une Offre
    </button>
    <input
      type="text"
      placeholder="Rechercher une offre"
      [(ngModel)]="searchTerm"
      (input)="applyFilter()"
    />
  </div>
  
  <div class="pack-list-wrapper">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Description</th>
          <th>Prix</th>
          <th>Durée (mois)</th>
          <th>Prix Mensuel</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pack of filteredPacks">
          <td>{{ pack.id }}</td>
          <td>{{ pack.name }}</td>
          <td>{{ pack.description }}</td>
          <td>{{ pack.price }}</td>
          <td>{{ pack.durationMonths }}</td>
          <td>{{ pack.monthlyPrice }}</td>
          <td>
            <button (click)="editPack(pack)">
              <i class="fas fa-edit"></i>
            </button>
            <button (click)="deletePack(pack.id!)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
